body {
    background-color: #00AAFF;
    color: #000000;
    text-align: center;
}
body h1 {
    postion: relative;
    top: 2px;
    text-align: center;
    margin: 0 0 20px 0;
}
#pageWrapper {
    position: relative;
    width: 86%;
    background-color: #EFEFEF;
    border: 2px solid black;
    margin: 0 auto;
}
#header {
    width: 100%;
    background-color: #BBBBBB;
    border-bottom: 3px solid black;
}
#navBar {
    text-align: center;
    height: 30px;
}
.navBtn {
    position: relative;
    display: inline;
    margin: 0 auto;
    padding: 4px;
    border: 2px solid black;
    height: 30px;
    width: 200px;
    background-color: #CCCCCC;
    cursor: pointer;
}
.navBtn:hover {
    background-color: #EEEEEE;
}
#content {
    margin: 30px 10px 30px 10px;
    text-align: left;
}
.codeBoxes {
    overflow: auto;    
    width: 90%;    
    min-height: 400px;
    height: 90%;
    max-height: 800px;
}
.codeBox125 {
    overflow: auto;    
    width: 90%;    
    min-height: 125px;
    height: 90%;
    max-height: 800px;
}
.exampleLayout {
    width: 100%;
}
.exampleLayout td {
    width: 30%;
}
tbody {
    vertical-align: top;
}
.explanationDemo {
    width: 30%;
}
.htmlCode textarea {
    min-width: 400px;
    width: 90%;
    max-width: 800px;
    min-height: 200px;
    height:90%;
    max-height: 500px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: auto;
}
.htmlCode {
    width: 30%;
    
}
.cssCode {
    width: 30%;
}
.cssCode textarea{
    min-width: 400px;
    width: 90%;
    max-width: 800px;
    min-height: 200px;
    height:90%;
    max-height: 500px;
}
.indentedBlock {
padding: 0px 0px 0px 20px;
}

.browserList, .osList {
    font-size: 0.75em;
    margin: 0px;
}

.browserUlHead, .osUlHead {
    margin: 0px;
}