body {
    background-color: #00AAFF;
    color: #000000;
    text-align: center;
}
body h1 {
    postion: relative;
    top: 2px;
    text-align: center;
    margin: 0 0 20px 0;
}
#pageWrapper {
    position: relative;
    width: 86%;
    background-color: #EFEFEF;
    border: 2px solid black;
    margin: 0 auto;
}
#header {
    width: 100%;
    background-color: #BBBBBB;
    border-bottom: 3px solid black;
}
#navBar {
    text-align: center;
    height: 30px;
}
.navBtn {
    position: relative;
    display: inline;
    margin: 0 auto;
    padding: 4px;
    border: 2px solid black;
    height: 30px;
    width: 200px;
    background-color: #CCCCCC;
    cursor: pointer;
}
.navBtn:hover {
    background-color: #EEEEEE;
}
#content, #CssExContent {
    margin: 30px 10px 30px 10px;
    text-align: left;
}
.codeBoxes {
    overflow: auto;    
    width: 90%;    
    min-height: 400px;
    height: 90%;
    max-height: 800px;
}
.codeBox125 {
    overflow: auto;    
    width: 90%;    
    min-height: 125px;
    height: 90%;
    max-height: 800px;
}
.exampleLayout {
    width: 100%;
}
.exampleLayout td {
    width: 30%;
}
tbody {
    vertical-align: top;
}
.explanationDemo {

}
.htmlCode textarea {
    min-width: 400px;
    width: 90%;
    max-width: 800px;
    min-height: 218px;
    height:90%;
    max-height: 500px;
    font-size: 0.8em;
    word-break: keep-all;
    white-space: nowrap;
    overflow: auto;
}
.htmlCode {
    width: 40%;
    
}
.jsCode {
    width: 20%;
}
.cssCode {
    width: 15%;
}
.cssCode textarea{
    
    width: 90%;

    min-height: 218px;
    height:90%;
    max-height: 500px;
    font-size: 0.8em;
    word-break: keep-all;
    white-space: nowrap;
    overflow: auto;
}
.indentedBlock {
    padding: 0px 0px 0px 20px;
}

.browserList, .osList {
    font-size: 0.75em;
    margin: 0px;
}

.gHubBody {
    font-size: 0.9em;
    margin: 2px 0px 20px 0px;
    padding: 0px 0px 0px 10px;
}

.browserUlHead, .osUlHead, .gHubHead {
    margin: 0px;
}

#html5forms {
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.htmlTableData {
    width: 50%;
}

.htmlexample {
    overflow: auto;    
    width: 90%;    
    min-height: 480px;
    height: 90%;
    max-height: 800px;
}

/* Styles being used on cssExamples.html page for demo purposes */
#CssExContent .explanationDemo {
    width: 45%;
    text-align: left;
}
#CssExContent .explanationDemo div {
    font-size: 0.8em;
}
#CssExContent #firstItm {
    color: #FF0000;
}
#CssExContent .unorderLItm {
    color: #FF0000;
}
#CssExContent .diffClassUL {
}
#elementSelectors .explanationDemo .demo ul {
    color: #FF0000;
}
#elementSelectors .explanationDemo .demo ol {
    color: #00FF00;
}
#firstDivElm ul #uniqueBullet {
    color: #FF0000;
}
ul .listItms, li .listItms {
    color: #0000FF;
}
#actionSel:hover {
    text-decoration: underline;
    color: #00FF00;
}
#actionSel:active {
    text-decoration: line-through;
    color: #FF00FF;
}
#cssSelectors {
    border-collapse: collapse;
}
#cssSelectors, #cssSelectors th, #cssSelectors td {
    border: 2px solid black;
    text-align: left;
    padding: 2px 5px 2px 5px;
}