.SliderControl {
    margin: 30px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}
input.sliderCSS {
		border: 0;
		width: 30px;
		background: white;
		color: black;				
		font-weight: bold;
		padding-left:5px;
		background: #fafafa;
		text-align:left;
	}
	
		div.Slider {
		width:200px;
		padding-right:10px;
	}			

	.sliderControls{
background: #fafafa;
float: left;
font-family: Helvetica, Arial, sans-serif;
min-width: 200px;
height: 100%;
margin: 0;
padding: 10px 5px
	
	}