body {
    background-color: #CCCCCC;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
#pageWrapper {
    width: 95%;
    height: 98%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgba(238, 238, 238, 0.9);
    border: 3px solid black;
    border-radius: 5px;

}
header {
    width: 100%;
    height: 12%;
    background-color: #0186ba;
    color: #222222;    
    z-index: 10;
}
header h1 {
    margin: 0px;
    padding-left: 5px;
}

#content {
    height: 86%;
    width: 98%;
    clear: both;
    margin-top: 10px;
}

/* Vertical JQuery UI Tabs */
#contentNavBar {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0;
    padding-top: 10px;
}
#contentFrame {
    width: 77%;
    height: 94%;
    border: 4px solid black;
    border-radius: 6px;
    background-color: #F4F4F4;
    box-shadow: 6px 6px 5px #888888;
    float: right;
    padding-left: 20px;
    overflow-y: scroll;
}
.contentBtn {
    width: 85%;
    height: 25px;
    margin: 1px;
    line-height: 25px;
    text-align: right;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: linear-gradient(#EEE, #888);
}
.contentBtn:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#41C6FA, #0186ba);
}
.selected {
    width: 98%;
    color: #555555;
    background-color: #00aaed;
    background-image: linear-gradient(#6ad0f8, #00aaed);
    border: 2px solid white;
    border-radius: 4px;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
